<header class="site-header" role="banner">
  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">
      <img src="https://microsoft.gallerycdn.vsassets.io/extensions/microsoft/visualstudio/1.0.0/1681231231/1/Microsoft.VisualStudio.png" alt="Logo" class="header-logo">
      {{ site.title | escape }}
    </a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="{{ site.theme_settings.marketplace_url }}" target="_blank">VS Code Marketplace</a>
        <a class="page-link" href="{{ site.theme_settings.github_repo }}" target="_blank">GitHub</a>
      </div>
    </nav>
  </div>
</header>
